<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.husen.web.dao.ArticleCategoryMapper">

    <resultMap id="categoryMap" type="pers.husen.web.bean.vo.ArticleCategoryVo">
        <id column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_delete" property="categoryDelete" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insertCategory" parameterType="pers.husen.web.bean.vo.ArticleCategoryVo"
            keyProperty="categoryId" useGeneratedKeys="true">
        INSERT INTO article_category
        (
        category_name, create_date, category_delete
        )
        VALUES
        (
        #{categoryName}, #{createDate}, #{categoryDelete}
        )
    </insert>

    <delete id="deleteById">
        DELETE FROM article_category WHERE category_id = #{categoryId}
    </delete>

    <select id="queryById" resultMap="categoryMap">
        SELECT * FROM article_category WHERE category_id = #{categoryId}
    </select>

    <select id="queryAllCategory" resultMap="categoryMap">
        SELECT * FROM article_category
    </select>
</mapper>